# Entorno virtual
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Compilados PyInstaller
dist/
build/
*.spec

# Base de datos (datos reales)
data/*.db
data/*.db-shm
data/*.db-wal

# Uploads de usuarios
uploads/fotos/
uploads/*.jpg
uploads/*.jpeg
uploads/*.png

# Variables de entorno
.env
.env.*

# Ejecutables
*.exe

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
